[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target gunicorn.socket postgresql.service

[Service]
PIDFile=/run/gunicorn/pid
User=spacekatt
Group=sudo
RuntimeDirectory=gunicorn
EnvironmentFile=/home/spacekatt/projects/aiohttp_playground/.env
WorkingDirectory=/home/spacekatt/projects/aiohttp_playground/src
ExecStart=/usr/bin/env gunicorn --worker-class aiohttp.GunicornUVLoopWebWorker --bind unix:/run/gunicorn/socket --error-logfile /home/spacekatt/projects/aiohttp_playground/log/dc.log main:APP
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
